
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

.club__navbar-container{
    background: var(--color-pink);
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.club__navbar{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;

    background: var(--color-light-pink2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 2.5rem;
    border-radius: 75px;
    padding-top: 1rem;
    margin-top: 0;
    width: 80vw;
    /*margin-top: 1em; */
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    height: auto;

    position: fixed; /* Persistent navbar */
    left: 50%; transform: translateX(-50%); /* Keeps navbar center */
    top: 1rem;  /* Makes the navbar stick to the top of the viewport */
    z-index: 1000;  /* Ensures it stays above other content when scrolling */
}

.club__navbar-links{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.8rem;
}

.club__navbar-links li{
    color: var(--color-light-magenta);
    text-shadow: 2px 2px 4px var(--color-vivid-pink);
    margin: 0 1rem;
    cursor: pointer;
    font-size: 100%;
    transition: font-size 2s, 0.1s ease, color, 0.1s ease;

}

.club__navbar-links li:hover{
    color: var(--color-vivid-pink);
    font-size: 120%;
    text-shadow: 2px 2px 4px var(--color-light-magenta);
}

.club__navbar-join a{
    margin: 0 1rem;
    margin-left: auto;
    text-decoration: none;
    color: var(--color-light-magenta);
    text-shadow: 2px 2px 4px var(--color-vivid-pink);
    transition: font-size 2s, 0.1s ease, color, 0.1s ease;
}

.club__navbar-join:hover{
    font-size: 130%;
}
.club__navbar-join a:hover{
    color: var(--color-vivid-pink);
    text-shadow: 2px 2px 4px var(--color-light-magenta);
}

.club__navbar-smallscreen{
    display: none;
}

.club__navbar-smallscreen_overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: var(--color-light-pink2);
    flex-direction: column;
    z-index: 5;
}


.club__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-black);
    cursor: pointer;

    position: absolute; 
    top: 20px;
    right: 20px;
}

.club__navbar-smallscreen_links li{
    margin: 2rem;
    cursor: pointer;
    color: var(--color-light-magenta);
    text-shadow: 2px 2px 4px var(--color-vivid-pink);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
    list-style: none;
}

.club__navbar-smallscreen_links li:hover{
    color: var(--color-vivid-pink);
    text-shadow: 2px 2px 4px var(--color-light-magenta);
}

@media screen and (max-width: 2000px){
    .club__navbar-logo img{
        width: 120px;
    }
}

@media screen and (max-width: 1150px){
    .club__navbar-links{
        display: none;
    }

    .club__navbar-join{
        display: none;
        margin-left: 0;
        margin-top: 1rem;
    }

    .club__navbar-smallscreen{
        display: flex;
    }
}

